@CHARSET "ISO-8859-1";

table {
	padding: 20px;
	border: 1px solid grey;
}

.label {
	text-align: right;
}

.inputs {
	width: 300px;
}

input[type="submit"] {
	margin-left: 46px;
}

.error {
	color: #ff0000;
	font-style: italic;
	font-size: small;
	margin-left: 10px;
}

.valid {
	color: #008421;
	font-style: italic;
	font-size: small;
	margin-left: 10px;
}